@model List<MyPlace.ViewModels.ModifyOverviewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Modify Overview";
}

<a asp-action="Create" class="btn btn-primary">Add new</a>

<table class="table" style="margin-top:20px">
    <thead>
        <tr>
            <th>Image Url</th>
            <th>Date Created</th>
            <th>Is Private</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var picture in @Model)
        {
        <tr>
            <td>@picture.ImageUrl</td>
            <td>@picture.DateCreated</td>
            <td>@picture.IsPrivate</td>

            <td>
                <a  asp-action="Modify" asp-route-id="@picture.Id">Edit</a>  |
                <a  asp-action="Delete" asp-route-id="@picture.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
